@model List<IGrouping<string,Core.Entities.GetRepoWithUser>>
@{
    ViewData["Title"] = "Repolar";
}
<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 >
                        @{
                            Core.Entities.GetRepoWithUser first = null;
                            foreach (var user in Model.Select(x => x.ToList()).FirstOrDefault())
                            {
                                first = user;
                                break;
                            }
                        }
                        @first.Repository.Name
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table table-responsive" id="repoTable" style="width: 100%">
                        <thead>
                        <tr>

                            <th>Kullancıcı Adı</th>
                            <th>Toplam Çalışma Saati</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th class="">
                                    <div class="d-flex  align-items-center">
                                        <div>
                                            <div class="icon-shape icon-md border p-4 rounded bg-primary">
                                                <img width="40" height="40" src="@item.FirstOrDefault(x => x.UserName == item.Key).User.AvatarUrl" alt="">
                                            </div>
                                        </div>
                                        <div class="ms-3 lh-1">
                                            <h5 class="fw-bold mb-1">
                                                <a href="@item.FirstOrDefault(x => x.UserName == item.Key).User.HtmlUrl" class="text-inherit">@item.Key</a>
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                @{
                                    var calcMunites = TimeSpan.FromMinutes(item.ToList().Sum(x => x.WorkingHour));
                                }

                                <th>@Html.Raw(string.Format("{0:00} Saat {1:00} Dakika", (int) calcMunites.TotalHours, calcMunites.Minutes))</th>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
    $('#repoTable').DataTable();
</script>
}
