@using Core.Entities
@model UserModelForRepositoryWithDates
@{
    ViewData["Title"] = Model.Repository.Name;
}
<div class="container-fluid px-6 py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4><a href="@Model.Repository.HtmlUrl">@Model.Repository.Name</a></h4>
                </div>
                <div class="card-body">
                    <form method="get" action="/Repository/GetRepositoryWorkingHourWithUser">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="float-end">
                                    <div class="row">
                                        <div class="col-auto">
                                            <input type="hidden" name="owner" value="@Model.Repository.Owner.Login" />
                                            <input type="hidden" name="name" value="@Model.Repository.Name" />
                                            <div class="mb-3">
                                                <label class="form-label" for="startDate">Başlangıç Tarihi</label>
                                                <input type="date" id="startDate" name="startDate" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="mb-3">
                                                <label class="form-label" for="endDate">Bitiş Tarihi</label>
                                                <input type="date" min="" name="endDate" id="endDate" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" id="filterButton" style="margin-top: 28px;" class="btn btn-primary">Filtrele</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-responsive" id="repoTable" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Kullancıcı Adı</th>
                                    <th>Toplam Çalışma Saati</th>
                                    @foreach (var item in Model.Dates.OrderBy(x => x.Date))
                                    {
                                        <th>@item.ToShortDateString()</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.UserWorkingHours)
                                {
                                    <tr>
                                        <td class="align-middle">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <img src="@item.User.AvatarUrl" alt="" class="avatar-md avatar rounded-circle">
                                                </div>
                                                <div class="ms-3 lh-1">
                                                    <h5 class="fw-bold mb-1">@item.User.Login</h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@item.TotalWorkingHour</td>
                                        @foreach (var dates in item.RepositoryWorkingDays.OrderBy(x => x.Date))
                                        {
                                            var date = new TimeSpan(0, dates.TotalWorkingMinutes, 0);
                                            <td> @string.Format("{0:00}  {1:00}", (int)date.TotalHours, date.Minutes)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
    $('#repoTable').DataTable();
</script>
}
