@using Microsoft.AspNetCore.Http
@{
    var avatar = Context.Session.GetString("avatar");
}
@{
    var name = Context.Session.GetString("name");
}
@{
    var url = Context.Session.GetString("githubUrl");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon/favicon.ico">
    <link rel="stylesheet" href="~/libs/prismjs/themes/prism.css">
    <link rel="stylesheet" href="~/libs/prismjs/plugins/line-numbers/prism-line-numbers.css">
    <link rel="stylesheet" href="~/libs/prismjs/plugins/toolbar/prism-toolbar.css">
    <link rel="stylesheet" href="~/libs/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/libs/dropzone/dist/dropzone.css">
    <link href="~/libs/@@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/theme.min.css">
    <title>@ViewBag.Title | Infoline</title>
</head>
<body>
    <div id="db-wrapper">
        <!-- navbar vertical -->
        <!-- Sidebar -->
        <nav class="navbar-vertical navbar">
            <div class="nav-scroller">
                <!-- Brand logo -->
                <a class="navbar-brand" href="../index.html">
                    <img src="" alt="" />
                </a>
                <!-- Navbar nav -->
                <ul class="navbar-nav flex-column" id="sideNavbar">
                    <li class="nav-item">
                        <a class="nav-link has-arrow " href="@Url.Action("Index","Account")">
                            <i data-feather="home" class="nav-icon icon-xs me-2"></i>  Anasayfa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link has-arrow " href="@Url.Action("Index","Repository")">
                            <i data-feather="git-branch" class="nav-icon icon-xs me-2"></i>  Repository
                        </a>
                    </li>
                          <li class="nav-item">
                        <a class="nav-link has-arrow " href="@Url.Action("Index","User")">
                            <i data-feather="users" class="nav-icon icon-xs me-2"></i>  Geliştiriciler
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-content">
            <div class="header @@classList">
                <nav class="navbar-classic navbar navbar-expand-lg">
                    <a id="nav-toggle" href="#">
                        <i data-feather="menu"
                           class="nav-icon me-2 icon-xs"></i>
                    </a>
                    <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">
                        <li class="dropdown ms-2">
                            <a class="rounded-circle" href="#" role="button" id="dropdownUser"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    <img alt="avatar" src="@avatar"
                                         class="rounded-circle" />
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end"
                                 aria-labelledby="dropdownUser">
                                <div class="px-4 pb-0 pt-2">
                                    <div class="lh-1 ">
                                        <h5 class="mb-1">@name</h5>
                                        <a href="@url" class="text-inherit fs-6" target="_blank">Profilimi Görüntüle</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="container-fluid px-6 py-4">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/libs/feather-icons/dist/feather.min.js"></script>
    <script src="~/libs/prismjs/components/prism-core.min.js"></script>
    <script src="~/libs/prismjs/components/prism-markup.min.js"></script>
    <script src="~/libs/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="~/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/theme.min.js"></script>
    <script src="~/js/master.js"></script>
    @await RenderSectionAsync("scripts", false)
</body>
</html>
